.axolotl-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

.axolotl {
  border: 5px solid black;
  aspect-ratio: 1;
  text-align: center;
  background-color: #44c2bf;
}

body {
  border: 5px solid black;
  background-color: #b40e50;
}

#types {
  border: 5px solid black;
  background-color: #fe3300;
  padding: 10px;
}

#info {
  border: 5px solid black;
  background-color: #fc4b55;
  padding: 10px;
}

#fun {
  border: 5px solid black;
  background-color: #fb882d;
  padding: 10px;
}
