.axolotl-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

.axolotl {
  border: 5px solid black;
  aspect-ratio: 1;
  text-align: center;
  background-color: #44c2bf;
}

body {
  border: 5px solid black;
  background-color: #b40e50;
}

#types {
  border: 5px solid black;
  background-color: #fe3300;
  padding: 20px;
}

#info {
  border: 5px solid black;
  background-color: #fc4b55;
  padding: 20px;
}

#fun {
  border: 5px solid black;
  background-color: #fb882d;
  padding: 20px;
}

img {
  max-width: 75%;
  max-height: 50%;
  width: auto;
  height: auto;
}

@media screen and (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}
