.axolotl-container {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 10px;
  row-gap: 10px;
}

.axolotl {
  border: 5px solid black;
  aspect-ratio: 1;
  text-align: center;
  background-color: #44c2bf;
}

body {
  background-color: #b40e50;
}

#types {
  background-color: #fe3300;
}

#info {
  background-color: #fc4b55;
}

#fun {
  background-color: #fb882d;
}
